    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      height: 100%;
      font-family: sans-serif;
      background: #cacaca;
    }

    body {
      display: flex;
      flex-direction: column;
    }
    
    header, footer {
      display: flex;
      width: 66.66vw;
      margin: 0 auto;
      justify-content: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background: #fafafa;
      padding: 10px;
      text-align: center;
    }
    
    main {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }