    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html, body {
      height: 100%;
      font-family: sans-serif;
      background: #cacaca;
    }

    body {
      display: flex;
      flex-direction: column;
    }
    
    header, footer {
      display: flex;
      width: 66.66vw;
      margin: 0 auto;
      justify-content: right;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background: #fafafa;
      padding: 10px;
    }
    
    main {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: stretch;
    }

    .main-container {
      display: flex;
      width: 66.66vw;
      height: 100%;
      background: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .main-left {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      width: 33.33%;
      background: #1e1e2f;
      color: white;
      padding: 20px;
      overflow: hidden;
      text-align: center;
      
    }

    .main-right {
      width: 66.66%;
      display: flex;
      flex-direction: column;
    }
    .main-right-content {
      flex: 1;
      overflow-y: auto;
      padding: 20px;
    }

    img.profile-photo {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 20px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
    .personal-info p {
      font-size: 14px;
      margin-bottom: 8px;
    }
    .personal-signature p {
      font-size: 14px;
      margin-bottom: 8px;
      text-align: end;
    }
    nav {
      margin-top: 10px;
    }

    nav a {
      margin-right: 10px;
      color: #333;
      text-decoration: none;
      font-size: 14px;
    }
    .section {
      margin-bottom: 20px;
    }

    .section h2 {
      font-size: 18px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .footer-center {
      flex: 1;
      text-align: center;
    }

    .footer-right {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .footer-icon {
      height: 2em;
      width: 2em;
      display: inline-block;
      object-fit: contain;
      color: black;
    }